<% if user_signed_in? %>
<!-- blank for now -->
<% else %>
<h1>Hello World</h1>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "Log in", new_user_session_path, class: "btn btn-outline-primary" %>
<% end %>

